**/.DS_Store
**/gen
**/out
**/.idea/workspace.xml
**/.idea/vcs.xml
**/.idea/dictionaries
**/bin
**/build
**/*.iml
captures
.gradle
**/.idea/libraries
local.properties
release-tools/**
app/proguard.map
.idea/runConfigurations.xml
.idea/uiDesigner.xml
.idea/runConfigurations.xml
.idea/misc.xml
app/proguard.map
.idea/gradle.xml
.idea
**/**/.externalNativeBuild
